extends layouts/main
include mixins/videoPlayer

block content 
    .video-detail-container
        +videoPlayer({
            src : `/${video.videoURL}`
        })
        .video-info
            if loggedUser && (video.creator.id===loggedUser.id)
                a(href=routes.edit_video(video._id)) 
                    button Edit video
            h5.video-title=video.title
            if video.views === 1
                span.video-views 1 view
            else    
                span.video-views #{video.views} views
            .video_author
                |Uploaded by
                a(href=routes.user_detail(video.creator.id))=video.creator.name
            p.video-description=video.description
        .video-comments
            if video.comments.length === 1
                span.video-comment-number 
                    span#span_commentCount=1 
                    |comment
            else
                span.video-comment-number 
                    span#span_commentCount=video.comments.length 
                    |comments
        form(id='form_comment')
            textarea(name='text', required)
            button Add a comment
        ul.video_comments-list#list_comments
            if newComments
                each comment in newComments.reverse()
                    li
                        .profile-container
                            div.profile
                                img(src=comment.writer.avatarURL)
                        div.info-comment    
                            span=comment.writer.name
                            span.time_diff=comment.timeDiff
                        div.txt-comment    
                            span.comment_text=comment.text
                        div.btn-comment
                            span 
                                <i class="fas fa-thumbs-up"></i>
                            span 
                                <i class="fas fa-thumbs-down"></i>
                            if loggedUser && (`${comment.writer._id}` === loggedUser.id)
                                span.btn_comment_delete
                                    <i class="fas fa-times"></i>