extends layouts/main
include mixins/videoPlayer

block content 
    .video-detail-container
        +videoPlayer({
            src : `/${video.videoURL}`
        })
        .video-info
            if loggedUser && (video.creator.id===loggedUser.id)
                a(href=routes.edit_video(video._id)) 
                    button Edit video
            h5.video-title=video.title
            if video.views === 1
                span.video-views 1 view
            else    
                span.video-views #{video.views} views
            .video_author
                |Uploaded by
                a(href=routes.user_detail(video.creator.id))=video.creator.name
            p.video-description=video.description
        .video-comments
            if video.comments.length === 1
                span.video-comment-number 1 comment
            else
                span.video-comment-number #{video.comments.length} comments
        
